.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .item1 { grid-area: header; 
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
      'p1   p2  p3';


  }


  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: right; }
 
  .item5 { grid-area: main1; }
  .item6 { grid-area: right1; }
  .item7 { grid-area: footer; }

  .grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu main1 main1 main1 right1 right1'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .item1 h1 {
      grid-area: p1;
  }
  #par {
      grid-area: p2;
      align-items: center;
    justify-content: center;

  }
  .item1  p {
      grid-area: p3;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  @media only screen and (max-width: 600px) {
  .grid-container {
      display: flex;
      flex-direction: column;
  }
  .item1 { display: flex; 
  flex-direction: column;
  }}
  img {
    width: 50%;
  }